<div id="contact">
<div class="wow slideInLeft">
  <form name="contactform" method="POST" action="send_form_email.php">
      <div class="field">
          <input name="first_name" type="text" placeholder="First Name*"/>
      </div>
      <div class="field">
          <input name="email" type="text" placeholder="Email*"/>
      </div>
      <div class="field">
          <textarea name="comments" cols="24" rows="5" maxlength="250" placeholder="Comment*"></textarea></div>
      <div class="submit">
          <input type="submit" value="Submit" />
      </div>
  </form>
  </div>
</div>
