<div id="play">
<h1 class="wow slideInDown col-12">Web Dev <br />Playground</h1>
<div class="row">
  <div class="col-6">
  <p>
    Smooth Scroll
  </p>
    <p data-height="265" data-theme-id="dark" data-slug-hash="WrdLOX" data-default-tab="result" data-user="Erbnlegend" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Erbnlegend/pen/WrdLOX/">Scroll</a> by Aaron (<a href="http://codepen.io/Erbnlegend">@Erbnlegend</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <div class="col-6">
    <p>
      Changing Background
    </p>
    <p data-height="265" data-theme-id="dark" data-slug-hash="grZdEq" data-default-tab="result" data-user="Erbnlegend" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Erbnlegend/pen/grZdEq/">Changing Backgrounds</a> by Aaron (<a href="http://codepen.io/Erbnlegend">@Erbnlegend</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <p>
      Dynamic Progress SVG's (Angular)
    </p>
  <p data-height="265" data-theme-id="dark" data-slug-hash="EyrOGK" data-default-tab="result" data-user="Erbnlegend" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/Erbnlegend/pen/EyrOGK/">Dynamic Progress SVG's (Angular)</a> by Aaron (<a href="http://codepen.io/Erbnlegend">@Erbnlegend</a>) on <a href="http://codepen.io">CodePen</a>.</p>
  <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</div>
<div class="col-6">
  <p>
    Coming Soon
  </p>
</div>
</div>
</div>
